<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DeleteAPropertyPage</title>
    <link rel="stylesheet" href="style.css">
</head>
<style>
.register{padding:50%,border:solid 5px,background-color:grey,top-margin:10%}
body {
  background-image:url('add.jpg');
    background-size:cover;
     </style>
<body id="formbody">
<h2 style="color:#fff"align="center"> Delete a Property</h2>
<div class="register">
    <form id="form" action="">
        <label><b>Pid:</b></label><br>
        <input type="number" id="1" placeholder="Enter pid" class="FirstName" required><br>
        <button type="submit">Delete</button>
    </form>
</div>
</body>
</html>
