<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>UpdatePassword</title>
  <link rel="stylesheet" href="style.css">
</head>
<style>
.register{padding:50%,border:solid 5px,background-color:grey,top-margin:5%}
body {
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('bg2.jpg');
    background-size:cover;}
     </style>
<body id="formbody">
<h3 style="color:red;text-align:center">Update Password</h3>
<div class="register">
  <form id="form" action="/updatePassword" method="post">
    <label><b>Username:</b></label><br>
    <input type="text" id="2" placeholder="Enter username" class="FirstName" name="username" th:value="${username}" readonly><br>
    <label><b>New Password:</b></label><br>
    <input type="text" id="2" placeholder="Enter new password" class="FirstName" name="password"  required><br>
    <button type="submit">update</button>
  </form>
</div>
</body>
</html>